// Display Ports
@import '../../assets/styles/_variables/displays.scss';

// Colors
@import '../../assets/styles/_variables/colors.scss';

.Header {
	width: 100%;
	height: 30vh;

	.Inner {
		height: 70%;
		background: $color-primary;
	}

	.Lines {
		height: 30%;
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 100%;

			&:first-of-type {
				transform: scaleX(-1);
			}
		}
	}
}