// Display Ports
@import '../../assets/styles/_variables/displays.scss';

// Colors
@import '../../assets/styles/_variables/colors.scss';

.Header {
	width: 100%;
	height: 30vh;

	.Inner {
		padding-top: 3rem;
		height: 70%;
		background: $color-primary;
		display: flex;
		justify-content: center;
		align-items: center;

		.Logo {
			width: 150px;

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	.Lines {
		height: 30%;
		position: relative;
		clip-path: polygon(50% 100%, 0 0, 100% 0);
		background: $color-primary;

		// img {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	max-width: 100%;

		// 	&:first-of-type {
		// 		transform: scaleX(-1);
		// 	}
		// }
	}
}