// Colors
@import '../../assets/styles/_variables/colors.scss';

// Display Ports
@import '../../assets/styles/_variables/displays.scss';

.Footer {
	background: $color-accent;
	color: $color-white;
	padding: 1rem;

	.Inner {
		display: flex;
		flex-direction: row;

		ul {
			border-left: 1px solid rgba(255, 255, 255, 0.3);
			padding-left: 3rem;
		}

		img {
			width: 100px;
			margin-right: 3rem;
		}

		p {
			font-weight: lighter;
		}
	}
}

// Phones
@media only screen and (max-width: $phone) {
	.Footer {

		.Inner {
			flex-wrap: wrap;

			ul {
				border: 0;
				padding: 0;
			}

			p {
				margin: 0;
			}
		}
	}
}